@{
    ViewData["Title"] = "Home Page";
}

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Search" asp-controller="Friends">Freunde</a>
    }
    else
    {
        <a asp-action="Login" asp-controller="Account">Login</a>
    }
</div>
